flows.json
[
    {
        "id": "6a61f9e65168b7db",
        "type": "tab",
        "label": "Set GeoIP ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "256f0a90cb7e8855",
        "type": "tab",
        "label": "Pub/Sub Perf Test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d3e8645123b2bada",
        "type": "prometheus-metric-config",
        "name": "message_latency",
        "help": "publish-to-subscribe end to end message latency",
        "labels": "source,dest",
        "mtype": "gauge"
    },
    {
        "id": "fb506465b3f35d99",
        "type": "prometheus-metric-config",
        "name": "icmp_latency",
        "help": "end-to-end icmp latency",
        "labels": "sourceip,sourceregion,sourceorg,destip,destregion,destorg",
        "mtype": "gauge"
    },
    {
        "id": "721141fde1080d32",
        "type": "prometheus-metric-config",
        "name": "rtt",
        "help": "rtt measurement for traceroute map ",
        "labels": "host,dest,hop,loss,ip",
        "mtype": "gauge"
    },
    {
        "id": "73b578ab563cd733",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.connected-cloud.io.akadns.net",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "acec7975370bbbc1",
        "type": "http request",
        "z": "6a61f9e65168b7db",
        "name": "Lookup public IP address",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "wgetip.com",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 210,
        "y": 140,
        "wires": [
            [
                "a23ad39b489b16ca"
            ]
        ]
    },
    {
        "id": "a23ad39b489b16ca",
        "type": "template",
        "z": "6a61f9e65168b7db",
        "name": "Format GeoIP Lookup",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://ip-api.com/json/{{payload}}",
        "output": "str",
        "x": 200,
        "y": 180,
        "wires": [
            [
                "98a0d222fd20f7e1"
            ]
        ]
    },
    {
        "id": "98a0d222fd20f7e1",
        "type": "http request",
        "z": "6a61f9e65168b7db",
        "name": "GeoIP Lookup",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 180,
        "y": 220,
        "wires": [
            [
                "e42d504ccd325c04",
                "668d277f3ed9c6d2"
            ]
        ]
    },
    {
        "id": "e42d504ccd325c04",
        "type": "change",
        "z": "6a61f9e65168b7db",
        "name": "Set Global Variables ",
        "rules": [
            {
                "t": "set",
                "p": "regionName",
                "pt": "global",
                "to": "payload.regionName",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "countryCode",
                "pt": "global",
                "to": "payload.countryCode",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "org",
                "pt": "global",
                "to": "payload.org",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "ip",
                "pt": "global",
                "to": "payload.query",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 260,
        "wires": [
            [
                "a725dd0e52223db1",
                "a559235edbfcd898"
            ]
        ]
    },
    {
        "id": "a725dd0e52223db1",
        "type": "template",
        "z": "6a61f9e65168b7db",
        "name": "Format iplocation file",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\"regionName\":\"{{payload.regionName}}\",\"countryCode\":\"{{payload.countryCode}}\",\"org\":\"{{payload.org}}\"}",
        "output": "str",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "40399ae63f2a6dc5"
            ]
        ]
    },
    {
        "id": "40399ae63f2a6dc5",
        "type": "file",
        "z": "6a61f9e65168b7db",
        "name": "write iplocation file to disk ",
        "filename": "/data/iplocation",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 210,
        "y": 340,
        "wires": [
            [
                "fb0c5bf6559c69e1"
            ]
        ]
    },
    {
        "id": "03cf8a85d6e46558",
        "type": "inject",
        "z": "6a61f9e65168b7db",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 180,
        "y": 80,
        "wires": [
            [
                "acec7975370bbbc1"
            ]
        ]
    },
    {
        "id": "fb0c5bf6559c69e1",
        "type": "debug",
        "z": "6a61f9e65168b7db",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 340,
        "wires": []
    },
    {
        "id": "668d277f3ed9c6d2",
        "type": "debug",
        "z": "6a61f9e65168b7db",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "a559235edbfcd898",
        "type": "debug",
        "z": "6a61f9e65168b7db",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 260,
        "wires": []
    },
    {
        "id": "cf90c23ce274d349",
        "type": "inject",
        "z": "256f0a90cb7e8855",
        "name": "Inject every second",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "930f5ea381574fb1"
            ]
        ]
    },
    {
        "id": "de949f89eae62630",
        "type": "function",
        "z": "256f0a90cb7e8855",
        "name": "Add current epoch timestamp ",
        "func": "msg.payload.time = Date.now() \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 180,
        "wires": [
            [
                "957fc7fc9bf9fb5b"
            ]
        ]
    },
    {
        "id": "f4f9d6bc5d7f3780",
        "type": "function",
        "z": "256f0a90cb7e8855",
        "name": "Calculate Time Difference ",
        "func": "var now = Date.now();\nvar then = msg.payload.time;\nmsg.payload.latency = now - then;\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 170,
        "y": 340,
        "wires": [
            [
                "96c4b0d539030f93",
                "4110bddb0dc28b10"
            ]
        ]
    },
    {
        "id": "930f5ea381574fb1",
        "type": "template",
        "z": "256f0a90cb7e8855",
        "name": "Extract Geo and Org info from global variables",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"extip\":\"{{global.ip}}\",\"publishregion\":\"{{global.regionName}}\",\"publishcountry\":\"{{global.countryCode}}\",\"publishorg\":\"{{global.org}}\",\"AkamaiRegion\":\"{{global.AkamaiRegion}}\",\"AkamaiIP\":\"{{global.AkamaiIP}}\",\"AkamaiLatency\":\"{{global.AkamaiLatency}}\"}",
        "output": "json",
        "x": 240,
        "y": 140,
        "wires": [
            [
                "de949f89eae62630"
            ]
        ]
    },
    {
        "id": "96c4b0d539030f93",
        "type": "change",
        "z": "256f0a90cb7e8855",
        "name": "Extract Geo Location from Global Variables",
        "rules": [
            {
                "t": "set",
                "p": "payload.regionName",
                "pt": "msg",
                "to": "regionName",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload.countryCode",
                "pt": "msg",
                "to": "countryCode",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload.org",
                "pt": "msg",
                "to": "org",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "perf.results",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "host",
                "pt": "msg",
                "to": "payload.extip",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.AkamaiRegion",
                "pt": "msg",
                "to": "AkamaiRegion",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload.AkamaiIP",
                "pt": "msg",
                "to": "AkamaiIP",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload.AkamaiLatency",
                "pt": "msg",
                "to": "AkamaiLatency",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 420,
        "wires": [
            [
                "9139355971f1e28c",
                "3e49864f27176a09",
                "1bc2cc594e271eb2",
                "ac7eb32bb241a264",
                "46798b689406550f"
            ]
        ]
    },
    {
        "id": "a8b31caac26c1d43",
        "type": "comment",
        "z": "256f0a90cb7e8855",
        "name": "Publisher",
        "info": "",
        "x": 140,
        "y": 60,
        "wires": []
    },
    {
        "id": "361245a57d5c6863",
        "type": "comment",
        "z": "256f0a90cb7e8855",
        "name": "Subscriber",
        "info": "",
        "x": 520,
        "y": 260,
        "wires": []
    },
    {
        "id": "9139355971f1e28c",
        "type": "debug",
        "z": "256f0a90cb7e8855",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 360,
        "wires": []
    },
    {
        "id": "4110bddb0dc28b10",
        "type": "debug",
        "z": "256f0a90cb7e8855",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 360,
        "wires": []
    },
    {
        "id": "6d6f72896d3060a6",
        "type": "debug",
        "z": "256f0a90cb7e8855",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 700,
        "wires": []
    },
    {
        "id": "3d605bc486703b72",
        "type": "debug",
        "z": "256f0a90cb7e8855",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 560,
        "wires": []
    },
    {
        "id": "ce7fe4ce67165e00",
        "type": "debug",
        "z": "256f0a90cb7e8855",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 720,
        "wires": []
    },
    {
        "id": "3e49864f27176a09",
        "type": "template",
        "z": "256f0a90cb7e8855",
        "name": "1st hop measure",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"host\":\"{{payload.publishregion}}\",\"dest\":\"{{payload.regionName}}\",\"ip\":\"{{payload.extip}}\",\"rtt\":0,\"hop\":1,\"loss\":0}",
        "output": "json",
        "x": 710,
        "y": 380,
        "wires": [
            [
                "3a29b6a0c3ab7831",
                "27be8405e436bf9e"
            ]
        ]
    },
    {
        "id": "3a29b6a0c3ab7831",
        "type": "debug",
        "z": "256f0a90cb7e8855",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 440,
        "wires": []
    },
    {
        "id": "1bc2cc594e271eb2",
        "type": "template",
        "z": "256f0a90cb7e8855",
        "name": "2nd hop measure",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"host\":\"{{payload.publishregion}}\",\"dest\":\"{{payload.regionName}}\",\"ip\":\"{{payload.AkamaiIP}}\",\"rtt\":{{payload.AkamaiLatency}},\"hop\":2,\"loss\":0}",
        "output": "json",
        "x": 710,
        "y": 420,
        "wires": [
            [
                "0224160449c8beaf",
                "27be8405e436bf9e"
            ]
        ]
    },
    {
        "id": "0224160449c8beaf",
        "type": "debug",
        "z": "256f0a90cb7e8855",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 500,
        "wires": []
    },
    {
        "id": "2447fc3d33ce0796",
        "type": "template",
        "z": "256f0a90cb7e8855",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"op\":\"set\",\"val\":{{payload.rtt}},\"labels\":{\"ip\":\"{{payload.ip}}\",\"host\":\"{{payload.host}}\",\"dest\":\"{{payload.dest}}\",\"hop\":{{payload.hop}},\"loss\":{{payload.loss}}}}",
        "output": "json",
        "x": 380,
        "y": 960,
        "wires": [
            [
                "9a71e8cec2970b34"
            ]
        ]
    },
    {
        "id": "9a71e8cec2970b34",
        "type": "prometheus-exporter",
        "z": "256f0a90cb7e8855",
        "name": "",
        "metric": "721141fde1080d32",
        "x": 550,
        "y": 1100,
        "wires": []
    },
    {
        "id": "27be8405e436bf9e",
        "type": "template",
        "z": "256f0a90cb7e8855",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "perf-results.{{global.ip}}",
        "output": "str",
        "x": 620,
        "y": 580,
        "wires": [
            [
                "08900348a84c71ec"
            ]
        ]
    },
    {
        "id": "957fc7fc9bf9fb5b",
        "type": "mqtt out",
        "z": "256f0a90cb7e8855",
        "name": "",
        "topic": "perftest",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73b578ab563cd733",
        "x": 520,
        "y": 180,
        "wires": []
    },
    {
        "id": "fdb7a990dbf25ddf",
        "type": "mqtt in",
        "z": "256f0a90cb7e8855",
        "name": "",
        "topic": "perftest",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "73b578ab563cd733",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 280,
        "wires": [
            [
                "f4f9d6bc5d7f3780"
            ]
        ]
    },
    {
        "id": "08900348a84c71ec",
        "type": "mqtt out",
        "z": "256f0a90cb7e8855",
        "name": "",
        "topic": "perfresults",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73b578ab563cd733",
        "x": 270,
        "y": 620,
        "wires": []
    },
    {
        "id": "349333c45ab9151c",
        "type": "mqtt in",
        "z": "256f0a90cb7e8855",
        "name": "",
        "topic": "perfresults",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "73b578ab563cd733",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 760,
        "wires": [
            [
                "2447fc3d33ce0796",
                "ce7fe4ce67165e00"
            ]
        ]
    },
    {
        "id": "1797f19d392917a9",
        "type": "inject",
        "z": "256f0a90cb7e8855",
        "name": "Every 1 minute",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 600,
        "y": 60,
        "wires": [
            [
                "a9c3759ed03df16c"
            ]
        ]
    },
    {
        "id": "54e2959b1106fa06",
        "type": "comment",
        "z": "256f0a90cb7e8855",
        "name": "Determine Akamai IP ",
        "info": "",
        "x": 560,
        "y": 20,
        "wires": []
    },
    {
        "id": "a9c3759ed03df16c",
        "type": "template",
        "z": "256f0a90cb7e8855",
        "name": "Format GeoIP Lookup",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://ip-api.com/json/mqtt.connected-cloud.io.akadns.net",
        "output": "str",
        "x": 840,
        "y": 60,
        "wires": [
            [
                "b3521d85d87ac0e5"
            ]
        ]
    },
    {
        "id": "b3521d85d87ac0e5",
        "type": "http request",
        "z": "256f0a90cb7e8855",
        "name": "GeoIP Lookup",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1060,
        "y": 60,
        "wires": [
            [
                "4597af057156fb92"
            ]
        ]
    },
    {
        "id": "4597af057156fb92",
        "type": "change",
        "z": "256f0a90cb7e8855",
        "name": "Set Global Variables ",
        "rules": [
            {
                "t": "set",
                "p": "AkamaiRegion",
                "pt": "global",
                "to": "payload.regionName",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "AkamaiCountry",
                "pt": "global",
                "to": "payload.countryCode",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "AkamaiOrg",
                "pt": "global",
                "to": "payload.org",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "AkamaiIP",
                "pt": "global",
                "to": "payload.query",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "host",
                "pt": "msg",
                "to": "payload.query",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "37871b4ffb54bb0a",
        "type": "conf ping",
        "z": "256f0a90cb7e8855",
        "name": "",
        "host": "",
        "timeout": "5",
        "requests": "1",
        "x": 1070,
        "y": 100,
        "wires": [
            [
                "e44db5585b3b55bf",
                "2e9e88f818535fc4"
            ]
        ]
    },
    {
        "id": "22d5b03a526fde17",
        "type": "change",
        "z": "256f0a90cb7e8855",
        "name": "Set Global Variables ",
        "rules": [
            {
                "t": "set",
                "p": "host",
                "pt": "msg",
                "to": "AkamaiIP",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 100,
        "wires": [
            [
                "37871b4ffb54bb0a"
            ]
        ]
    },
    {
        "id": "e0a3b8e0f95cb9b0",
        "type": "inject",
        "z": "256f0a90cb7e8855",
        "name": "Every 1 minute",
        "props": [],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 600,
        "y": 100,
        "wires": [
            [
                "22d5b03a526fde17"
            ]
        ]
    },
    {
        "id": "b1dbb3b1e7d08ac6",
        "type": "change",
        "z": "256f0a90cb7e8855",
        "name": "Set Global Variables ",
        "rules": [
            {
                "t": "set",
                "p": "AkamaiLatency",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "e44db5585b3b55bf",
        "type": "function",
        "z": "256f0a90cb7e8855",
        "name": "function 1",
        "func": "var rtt = msg.payload;\nmsg.payload = rtt / 2;\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 160,
        "wires": [
            [
                "b1dbb3b1e7d08ac6",
                "685cb7f3a1c904f3"
            ]
        ]
    },
    {
        "id": "2e9e88f818535fc4",
        "type": "debug",
        "z": "256f0a90cb7e8855",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1310,
        "y": 120,
        "wires": []
    },
    {
        "id": "685cb7f3a1c904f3",
        "type": "debug",
        "z": "256f0a90cb7e8855",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1350,
        "y": 160,
        "wires": []
    },
    {
        "id": "8f956e65bdfb20b4",
        "type": "template",
        "z": "256f0a90cb7e8855",
        "name": "3rd hop measure",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"host\":\"{{payload.publishregion}}\",\"dest\":\"{{payload.regionName}}\",\"ip\":\"{{global.AkamaiIP}}\",\"rtt\":{{payload.thirdhop}},\"hop\":3,\"loss\":0}",
        "output": "json",
        "x": 710,
        "y": 460,
        "wires": [
            [
                "27be8405e436bf9e"
            ]
        ]
    },
    {
        "id": "ac7eb32bb241a264",
        "type": "function",
        "z": "256f0a90cb7e8855",
        "name": "function 2",
        "func": "var latency = msg.payload.latency;\nvar akalatency = msg.payload.AkamaiLatency;\nmsg.payload.thirdhop = latency - akalatency;\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 460,
        "wires": [
            [
                "8f956e65bdfb20b4",
                "3d605bc486703b72"
            ]
        ]
    },
    {
        "id": "46798b689406550f",
        "type": "template",
        "z": "256f0a90cb7e8855",
        "name": "4th hop measure",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"host\":\"{{payload.publishregion}}\",\"dest\":\"{{payload.regionName}}\",\"ip\":\"{{global.ip}}\",\"rtt\":{{payload.latency}},\"hop\":4,\"loss\":0}",
        "output": "json",
        "x": 390,
        "y": 520,
        "wires": [
            [
                "27be8405e436bf9e"
            ]
        ]
    },
    {
        "id": "c3a8ffac0b6f931e",
        "type": "comment",
        "z": "256f0a90cb7e8855",
        "name": "Metrics",
        "info": "",
        "x": 90,
        "y": 660,
        "wires": []
    },
    {
        "id": "d4dfe7944a54a2c4",
        "type": "debug",
        "z": "256f0a90cb7e8855",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 720,
        "wires": []
    }
]
