flows.json
[
    {
        "id": "6a61f9e65168b7db",
        "type": "tab",
        "label": "Set GeoIP ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "04fab47b28dbf2d8",
        "type": "tab",
        "label": "Subscriber Test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d3e8645123b2bada",
        "type": "prometheus-metric-config",
        "name": "message_latency",
        "help": "publish-to-subscribe end to end message latency",
        "labels": "source,dest",
        "mtype": "gauge"
    },
    {
        "id": "fb506465b3f35d99",
        "type": "prometheus-metric-config",
        "name": "icmp_latency",
        "help": "end-to-end icmp latency",
        "labels": "sourceip,sourceregion,sourceorg,destip,destregion,destorg",
        "mtype": "gauge"
    },
    {
        "id": "721141fde1080d32",
        "type": "prometheus-metric-config",
        "name": "rtt",
        "help": "rtt measurement for traceroute map ",
        "labels": "host,dest,hop,loss,ip",
        "mtype": "gauge"
    },
    {
        "id": "73b578ab563cd733",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.connected-cloud.io.akadns.net",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "acec7975370bbbc1",
        "type": "http request",
        "z": "6a61f9e65168b7db",
        "name": "Lookup public IP address",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "wgetip.com",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 210,
        "y": 140,
        "wires": [
            [
                "a23ad39b489b16ca"
            ]
        ]
    },
    {
        "id": "a23ad39b489b16ca",
        "type": "template",
        "z": "6a61f9e65168b7db",
        "name": "Format GeoIP Lookup",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://ip-api.com/json/{{payload}}",
        "output": "str",
        "x": 200,
        "y": 180,
        "wires": [
            [
                "98a0d222fd20f7e1"
            ]
        ]
    },
    {
        "id": "98a0d222fd20f7e1",
        "type": "http request",
        "z": "6a61f9e65168b7db",
        "name": "GeoIP Lookup",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 180,
        "y": 220,
        "wires": [
            [
                "e42d504ccd325c04"
            ]
        ]
    },
    {
        "id": "e42d504ccd325c04",
        "type": "change",
        "z": "6a61f9e65168b7db",
        "name": "Set Global Variables ",
        "rules": [
            {
                "t": "set",
                "p": "regionName",
                "pt": "global",
                "to": "payload.regionName",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "countryCode",
                "pt": "global",
                "to": "payload.countryCode",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "org",
                "pt": "global",
                "to": "payload.org",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "ip",
                "pt": "global",
                "to": "payload.query",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 260,
        "wires": [
            [
                "a725dd0e52223db1"
            ]
        ]
    },
    {
        "id": "a725dd0e52223db1",
        "type": "template",
        "z": "6a61f9e65168b7db",
        "name": "Format iplocation file",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\"regionName\":\"{{payload.regionName}}\",\"countryCode\":\"{{payload.countryCode}}\",\"org\":\"{{payload.org}}\"}",
        "output": "str",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "40399ae63f2a6dc5"
            ]
        ]
    },
    {
        "id": "40399ae63f2a6dc5",
        "type": "file",
        "z": "6a61f9e65168b7db",
        "name": "write iplocation file to disk ",
        "filename": "/data/iplocation",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 210,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "03cf8a85d6e46558",
        "type": "inject",
        "z": "6a61f9e65168b7db",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 180,
        "y": 80,
        "wires": [
            [
                "acec7975370bbbc1"
            ]
        ]
    },
    {
        "id": "1797f19d392917a9",
        "type": "inject",
        "z": "6a61f9e65168b7db",
        "name": "Every 1 minute",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 460,
        "wires": [
            [
                "a9c3759ed03df16c"
            ]
        ]
    },
    {
        "id": "54e2959b1106fa06",
        "type": "comment",
        "z": "6a61f9e65168b7db",
        "name": "Lookup Geo IP Information for the host ",
        "info": "",
        "x": 230,
        "y": 40,
        "wires": []
    },
    {
        "id": "a9c3759ed03df16c",
        "type": "template",
        "z": "6a61f9e65168b7db",
        "name": "Format GeoIP Lookup",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://ip-api.com/json/mqtt.connected-cloud.io.akadns.net",
        "output": "str",
        "x": 420,
        "y": 460,
        "wires": [
            [
                "b3521d85d87ac0e5"
            ]
        ]
    },
    {
        "id": "b3521d85d87ac0e5",
        "type": "http request",
        "z": "6a61f9e65168b7db",
        "name": "GeoIP Lookup",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 660,
        "y": 460,
        "wires": [
            [
                "4597af057156fb92"
            ]
        ]
    },
    {
        "id": "4597af057156fb92",
        "type": "change",
        "z": "6a61f9e65168b7db",
        "name": "Set Global Variables ",
        "rules": [
            {
                "t": "set",
                "p": "AkamaiRegion",
                "pt": "global",
                "to": "payload.regionName",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "AkamaiCountry",
                "pt": "global",
                "to": "payload.countryCode",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "AkamaiOrg",
                "pt": "global",
                "to": "payload.org",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "AkamaiIP",
                "pt": "global",
                "to": "payload.query",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "host",
                "pt": "msg",
                "to": "payload.query",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "37871b4ffb54bb0a",
        "type": "conf ping",
        "z": "6a61f9e65168b7db",
        "name": "",
        "host": "",
        "timeout": "5",
        "requests": "1",
        "x": 670,
        "y": 540,
        "wires": [
            [
                "e44db5585b3b55bf"
            ]
        ]
    },
    {
        "id": "22d5b03a526fde17",
        "type": "change",
        "z": "6a61f9e65168b7db",
        "name": "Set Global Variables ",
        "rules": [
            {
                "t": "set",
                "p": "host",
                "pt": "msg",
                "to": "AkamaiIP",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 540,
        "wires": [
            [
                "37871b4ffb54bb0a"
            ]
        ]
    },
    {
        "id": "e0a3b8e0f95cb9b0",
        "type": "inject",
        "z": "6a61f9e65168b7db",
        "name": "Every 1 minute",
        "props": [],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 540,
        "wires": [
            [
                "22d5b03a526fde17"
            ]
        ]
    },
    {
        "id": "b1dbb3b1e7d08ac6",
        "type": "change",
        "z": "6a61f9e65168b7db",
        "name": "Set Global Variables ",
        "rules": [
            {
                "t": "set",
                "p": "AkamaiLatency",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "e44db5585b3b55bf",
        "type": "function",
        "z": "6a61f9e65168b7db",
        "name": "format result",
        "func": "var rtt = msg.payload;\nmsg.payload = rtt / 2;\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 580,
        "wires": [
            [
                "b1dbb3b1e7d08ac6"
            ]
        ]
    },
    {
        "id": "21708ed7fd726906",
        "type": "comment",
        "z": "6a61f9e65168b7db",
        "name": "Lookup Geo IP Information for the Akamai Host",
        "info": "",
        "x": 260,
        "y": 420,
        "wires": []
    },
    {
        "id": "c4aab8bc8cb91b9d",
        "type": "comment",
        "z": "6a61f9e65168b7db",
        "name": "RTT Test to Akamai Host",
        "info": "",
        "x": 190,
        "y": 500,
        "wires": []
    },
    {
        "id": "f4681fc802b2d563",
        "type": "function",
        "z": "04fab47b28dbf2d8",
        "name": "Calculate Time Difference ",
        "func": "var now = Date.now();\nvar then = msg.payload.time;\nmsg.payload.latency = now - then;\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 160,
        "wires": [
            [
                "b97005a81e63841d"
            ]
        ]
    },
    {
        "id": "b97005a81e63841d",
        "type": "change",
        "z": "04fab47b28dbf2d8",
        "name": "Extract Geo Location from Global Variables",
        "rules": [
            {
                "t": "set",
                "p": "payload.regionName",
                "pt": "msg",
                "to": "regionName",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload.countryCode",
                "pt": "msg",
                "to": "countryCode",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload.org",
                "pt": "msg",
                "to": "org",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "perf.results",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "host",
                "pt": "msg",
                "to": "payload.extip",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.AkamaiRegion",
                "pt": "msg",
                "to": "AkamaiRegion",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload.AkamaiIP",
                "pt": "msg",
                "to": "AkamaiIP",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload.AkamaiLatency",
                "pt": "msg",
                "to": "AkamaiLatency",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 240,
        "wires": [
            [
                "72ee6e664c981534"
            ]
        ]
    },
    {
        "id": "9a9b657fd67cec5c",
        "type": "comment",
        "z": "04fab47b28dbf2d8",
        "name": "Subscriber Test",
        "info": "",
        "x": 200,
        "y": 60,
        "wires": []
    },
    {
        "id": "2fe8e8b7ba7ba770",
        "type": "mqtt in",
        "z": "04fab47b28dbf2d8",
        "name": "",
        "topic": "perftest",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "73b578ab563cd733",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 100,
        "wires": [
            [
                "f4681fc802b2d563"
            ]
        ]
    },
    {
        "id": "72ee6e664c981534",
        "type": "mqtt out",
        "z": "04fab47b28dbf2d8",
        "name": "publish to perfresults topic",
        "topic": "perfresults",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73b578ab563cd733",
        "x": 240,
        "y": 300,
        "wires": []
    }
]
