flows.json
[
    {
        "id": "91964d3a33343af2",
        "type": "tab",
        "label": "Set GeoIP ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "29f88445b04cd468",
        "type": "tab",
        "label": "metrics processor",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d3e8645123b2bada",
        "type": "prometheus-metric-config",
        "name": "message_latency",
        "help": "publish-to-subscribe end to end message latency",
        "labels": "source,dest",
        "mtype": "gauge"
    },
    {
        "id": "fb506465b3f35d99",
        "type": "prometheus-metric-config",
        "name": "icmp_latency",
        "help": "end-to-end icmp latency",
        "labels": "sourceip,sourceregion,sourceorg,destip,destregion,destorg",
        "mtype": "gauge"
    },
    {
        "id": "721141fde1080d32",
        "type": "prometheus-metric-config",
        "name": "rtt",
        "help": "rtt measurement for traceroute map ",
        "labels": "host,dest,hop,loss,ip",
        "mtype": "gauge"
    },
    {
        "id": "73b578ab563cd733",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.connected-cloud.io.akadns.net",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e7de9b49b8dfd16d",
        "type": "http request",
        "z": "91964d3a33343af2",
        "name": "Lookup public IP address",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "wgetip.com",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 210,
        "y": 140,
        "wires": [
            [
                "34e09af26e16c0d4"
            ]
        ]
    },
    {
        "id": "34e09af26e16c0d4",
        "type": "template",
        "z": "91964d3a33343af2",
        "name": "Format GeoIP Lookup",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://ip-api.com/json/{{payload}}",
        "output": "str",
        "x": 200,
        "y": 180,
        "wires": [
            [
                "5e8a700f50400d75"
            ]
        ]
    },
    {
        "id": "5e8a700f50400d75",
        "type": "http request",
        "z": "91964d3a33343af2",
        "name": "GeoIP Lookup",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 180,
        "y": 220,
        "wires": [
            [
                "bbb82cbb3314c643"
            ]
        ]
    },
    {
        "id": "bbb82cbb3314c643",
        "type": "change",
        "z": "91964d3a33343af2",
        "name": "Set Global Variables ",
        "rules": [
            {
                "t": "set",
                "p": "regionName",
                "pt": "global",
                "to": "payload.regionName",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "countryCode",
                "pt": "global",
                "to": "payload.countryCode",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "org",
                "pt": "global",
                "to": "payload.org",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "ip",
                "pt": "global",
                "to": "payload.query",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 260,
        "wires": [
            [
                "44716b957706c145"
            ]
        ]
    },
    {
        "id": "44716b957706c145",
        "type": "template",
        "z": "91964d3a33343af2",
        "name": "Format iplocation file",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\"regionName\":\"{{payload.regionName}}\",\"countryCode\":\"{{payload.countryCode}}\",\"org\":\"{{payload.org}}\"}",
        "output": "str",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "e84e47707846cba7"
            ]
        ]
    },
    {
        "id": "e84e47707846cba7",
        "type": "file",
        "z": "91964d3a33343af2",
        "name": "write iplocation file to disk ",
        "filename": "/data/iplocation",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 210,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "80f2df45f08a6e8f",
        "type": "inject",
        "z": "91964d3a33343af2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 180,
        "y": 80,
        "wires": [
            [
                "e7de9b49b8dfd16d"
            ]
        ]
    },
    {
        "id": "5cec23e70287158a",
        "type": "inject",
        "z": "91964d3a33343af2",
        "name": "Every 1 minute",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 460,
        "wires": [
            [
                "72e1280169a3a63a"
            ]
        ]
    },
    {
        "id": "c8476c4dd4d2fc30",
        "type": "comment",
        "z": "91964d3a33343af2",
        "name": "Lookup Geo IP Information for the host ",
        "info": "",
        "x": 230,
        "y": 40,
        "wires": []
    },
    {
        "id": "72e1280169a3a63a",
        "type": "template",
        "z": "91964d3a33343af2",
        "name": "Format GeoIP Lookup",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://ip-api.com/json/mqtt.connected-cloud.io.akadns.net",
        "output": "str",
        "x": 420,
        "y": 460,
        "wires": [
            [
                "33d5f5b4f39dd73c"
            ]
        ]
    },
    {
        "id": "33d5f5b4f39dd73c",
        "type": "http request",
        "z": "91964d3a33343af2",
        "name": "GeoIP Lookup",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 660,
        "y": 460,
        "wires": [
            [
                "fa44cad7e3d92905"
            ]
        ]
    },
    {
        "id": "fa44cad7e3d92905",
        "type": "change",
        "z": "91964d3a33343af2",
        "name": "Set Global Variables ",
        "rules": [
            {
                "t": "set",
                "p": "AkamaiRegion",
                "pt": "global",
                "to": "payload.regionName",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "AkamaiCountry",
                "pt": "global",
                "to": "payload.countryCode",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "AkamaiOrg",
                "pt": "global",
                "to": "payload.org",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "AkamaiIP",
                "pt": "global",
                "to": "payload.query",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "host",
                "pt": "msg",
                "to": "payload.query",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "bb6f5efe8da982d1",
        "type": "conf ping",
        "z": "91964d3a33343af2",
        "name": "",
        "host": "",
        "timeout": "5",
        "requests": "1",
        "x": 670,
        "y": 540,
        "wires": [
            [
                "638fa6d2ab868a26"
            ]
        ]
    },
    {
        "id": "b9c23873ca844579",
        "type": "change",
        "z": "91964d3a33343af2",
        "name": "Set Global Variables ",
        "rules": [
            {
                "t": "set",
                "p": "host",
                "pt": "msg",
                "to": "AkamaiIP",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 540,
        "wires": [
            [
                "bb6f5efe8da982d1"
            ]
        ]
    },
    {
        "id": "8adc53a2bfb13d78",
        "type": "inject",
        "z": "91964d3a33343af2",
        "name": "Every 1 minute",
        "props": [],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 540,
        "wires": [
            [
                "b9c23873ca844579"
            ]
        ]
    },
    {
        "id": "ce24eea91de324ba",
        "type": "change",
        "z": "91964d3a33343af2",
        "name": "Set Global Variables ",
        "rules": [
            {
                "t": "set",
                "p": "AkamaiLatency",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "638fa6d2ab868a26",
        "type": "function",
        "z": "91964d3a33343af2",
        "name": "format result",
        "func": "var rtt = msg.payload;\nmsg.payload = rtt / 2;\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 580,
        "wires": [
            [
                "ce24eea91de324ba"
            ]
        ]
    },
    {
        "id": "4a0a4a49c92002fc",
        "type": "comment",
        "z": "91964d3a33343af2",
        "name": "Lookup Geo IP Information for the Akamai Host",
        "info": "",
        "x": 260,
        "y": 420,
        "wires": []
    },
    {
        "id": "540373bdb62d6f05",
        "type": "comment",
        "z": "91964d3a33343af2",
        "name": "RTT Test to Akamai Host",
        "info": "",
        "x": 190,
        "y": 500,
        "wires": []
    },
    {
        "id": "42b72336ff9abd7c",
        "type": "template",
        "z": "29f88445b04cd468",
        "name": "1st hop measure (0 RTT, self IP)",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"host\":\"{{payload.publishregion}}\",\"dest\":\"{{payload.regionName}}\",\"ip\":\"{{payload.extip}}\",\"rtt\":0,\"hop\":1,\"loss\":0}",
        "output": "json",
        "x": 510,
        "y": 240,
        "wires": [
            [
                "142358470e3e696f"
            ]
        ]
    },
    {
        "id": "46661bbc1fb0cbd8",
        "type": "template",
        "z": "29f88445b04cd468",
        "name": "2nd hop measure - Latency to Akamai IP ",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"host\":\"{{payload.publishregion}}\",\"dest\":\"{{payload.regionName}}\",\"ip\":\"{{payload.AkamaiIP}}\",\"rtt\":{{payload.AkamaiLatency}},\"hop\":2,\"loss\":0}",
        "output": "json",
        "x": 540,
        "y": 280,
        "wires": [
            [
                "142358470e3e696f"
            ]
        ]
    },
    {
        "id": "142358470e3e696f",
        "type": "template",
        "z": "29f88445b04cd468",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "perf-results.{{global.ip}}",
        "output": "str",
        "x": 440,
        "y": 420,
        "wires": [
            [
                "0fe80497cd179898"
            ]
        ]
    },
    {
        "id": "a5322063d22a154f",
        "type": "template",
        "z": "29f88445b04cd468",
        "name": "3rd hop measure",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"host\":\"{{payload.publishregion}}\",\"dest\":\"{{payload.regionName}}\",\"ip\":\"{{global.AkamaiIP}}\",\"rtt\":{{payload.thirdhop}},\"hop\":3,\"loss\":0}",
        "output": "json",
        "x": 470,
        "y": 320,
        "wires": [
            [
                "142358470e3e696f"
            ]
        ]
    },
    {
        "id": "655c49416f0b27ae",
        "type": "function",
        "z": "29f88445b04cd468",
        "name": "function 2",
        "func": "var latency = msg.payload.latency;\nvar akalatency = msg.payload.AkamaiLatency;\nmsg.payload.thirdhop = latency - akalatency;\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 320,
        "wires": [
            [
                "a5322063d22a154f"
            ]
        ]
    },
    {
        "id": "2b7a78d142914670",
        "type": "template",
        "z": "29f88445b04cd468",
        "name": "4th hop measure - total e2e publish-subscribe time",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"host\":\"{{payload.publishregion}}\",\"dest\":\"{{payload.regionName}}\",\"ip\":\"{{global.ip}}\",\"rtt\":{{payload.latency}},\"hop\":4,\"loss\":0}",
        "output": "json",
        "x": 570,
        "y": 360,
        "wires": [
            [
                "142358470e3e696f"
            ]
        ]
    },
    {
        "id": "de4231e4df0ea548",
        "type": "mqtt in",
        "z": "29f88445b04cd468",
        "name": "Subscribe to perfresults topic",
        "topic": "perfresults",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "73b578ab563cd733",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 240,
        "wires": [
            [
                "42b72336ff9abd7c",
                "46661bbc1fb0cbd8",
                "655c49416f0b27ae",
                "2b7a78d142914670"
            ]
        ]
    },
    {
        "id": "0fe80497cd179898",
        "type": "template",
        "z": "29f88445b04cd468",
        "name": "Format perfresult messages into PromQL operations",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"op\":\"set\",\"val\":{{payload.rtt}},\"labels\":{\"ip\":\"{{payload.ip}}\",\"host\":\"{{payload.host}}\",\"dest\":\"{{payload.dest}}\",\"hop\":{{payload.hop}},\"loss\":{{payload.loss}}}}",
        "output": "json",
        "x": 580,
        "y": 460,
        "wires": [
            [
                "7a25076fe068bf79"
            ]
        ]
    },
    {
        "id": "7a25076fe068bf79",
        "type": "prometheus-exporter",
        "z": "29f88445b04cd468",
        "name": "publish prometheus data to /metrics",
        "metric": "721141fde1080d32",
        "x": 530,
        "y": 500,
        "wires": []
    }
]
